
#h3 {background-color: azure;}
h3 {background-color: yellow; font-size 30px;}
.h3 {background-color: aqua;}

#div1 {background-color: gold; width: 200px; height: 200px;}
.class01 {background-color: khaki; width: 200px; height: 200px;}
.class02 {background-color: red; width: 200px; height: 200px;}
#div1, .class01, .class02 {color: chartreuse; width: 400px}
#div2 {width: 200px;}
.calss03 {height: 200px; background-color: darkmagenta;}
#div3 {color: blue; width: 200px;}
#div4 {background-color: aqua;}

h1 { color: skyblue; }
h1 { background-color: gray; }