#div6{
    width: 200px; height: 500px; border: 1px solid gray;
    border-radius: 5px;
}
#div6 div {overflow: hidden; width: 200px; height: 200px;}
img {
    width: 200px; height: 200px;
    &:hover{
        transform: scale(1.1);
        transition: all 0.5s;
    }
}


#div5 {
    overflow: auto;
    width: 100px; height: 100px;
    background-color: aquamarine;

}

a {color: black; text-decoration: none;}
a:hover {
    border-bottom: 3px solid black;
}

#div1,#div2,#div3,#div4{width: 200px; height: 200px;}
#div1 {border: 3px solid black;}
#div2 {border: 3px double green;}
#div3 {border: 3px dotted red; border-radius: 200px;}
#div4 {border: 1px dashed lawngreen; border-radius: 200px; overflow: hidden;}
#div4 > img {width: 200px; height: 200px;}