#div1 {
    width: 1200px; height: 1200px;
    border: 1px solid;
    background-repeat: no-repeat;
    background-size: 1200px 1200px; /*가로,세로*/
    background-position: 300px 200px; /*위쪽,왼쪽*/
    background-image: url("강아지사진.jpg");
    /*
    background: url("이미지"); no-repeat 200px 200px / 100px 100px
    */
}
#div1:hover{
    background-image: url("산사진.jpg");
    color: red;
}
#div1 div { width: 50px; height: 50px;}