#nav    {width: 700px; background-color: antiquewhite;}
#nav > ul {display:flex; background-color: orange; list-style:  none; padding: 0; 
    flex-wrap: wrap; height: 100px; align-items: center;
    /* flex-direction: row; or column; 가로로설정 */
    justify-content: space-around;
    /* space-between; 가운데만 남고 옆으로붙음
       space-around; 양쪽이 띄어지고 가운데로 맞춤    
    */
}
#nav > ul > li {border: 1px solid; width: 100px;
    /* padding: 10px; */
    height: 50px;
    line-height: 50px;
    text-align: center;
}
a {
    text-decoration: none; color: white;
    &:hover{
        border-bottom: 3px solid olive;
        padding-bottom: 5px;
        color: black;
        transition: 0.25s;
    }
}