* {margin: 0; padding: 0; box-sizing: border-box;}

#header_wrap {
    width: 100%; background-color: brown;
    position: fixed; top:0; /*position: fixed; top:0;헤더 위에고정*/
}

#header {
    width: 700px; height: 100px;
    display: flex; margin: 0 auto; /*플렉스가 밑으로 정렬*/
}
#title_logo {
    width: 100px;
    border-radius: 100px; /*동그랗게만드는법*/
    background-image: url("강아지사진.jpg");
    background-size: cover; /*이미지 사진 사이즈 맞추는법*/
}
#title_logo > div {
    color: white; margin-top: 25px;
    text-align: center; /*그림안에있는 글자 가운데로맞추기*/
    animation: title 0.8s infinite;
}
@keyframes title { /*그림안에있는 글자 색깔칠하기*/
    25%{color: blue;}
    50%{color: red;}
    75%{color: maroon;}


}

#nav {
    display: flex;
    justify-content: space-between;
    width: 600px; /*양쪽으로벌어지는거 */
    background-color: brown;
}
#nav ul {list-style: none; /*점사라지게하는법*/
    display: flex; align-items: center; /*가로배치 센터배치*/
}
#nav ul li {margin: 0 10px;}

#nav ul li a {
    text-decoration: none; color: white; font-size: 20px; /*글씨 사이즈랑 색깔*/
    &:hover{
        color: orange; border-bottom: 2px solid orange;
        padding-bottom: 5px; transition: 0.25s; /*패딩버튼은 글씨눌렀을때 밑에 간격 만드는법*/
    }
}
#nav ul:nth-of-type(2) a {
    font-size: 13px; color: lightgray;
}

#main {
    width: 700px; margin: 100px auto;
}

#section_1 {
    display:  flex;
    flex-wrap: wrap;
}
/*
    여백 계산
    (700 - 3 * 30px) / 4 = 152.5
*/
#section_1 > div {
    border: 1px solid gray;
    border-radius: 10px;
    width: 152.5px; height: 200px;
    margin-top: 20px;
    margin-right: 30px;
    &:nth-of-type(4n) {margin-right: 0;}
}
#section_1 > div:nth-of-type(1) .img{
    width: 130px; height: 150px;
    background-image: url(짱구사진.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    margin: 0 auto;
}

#srr {
    font-size: 50px;
    position: absolute;
    top: 200px; left: -20%;
    opacity: 0;
    animation: srr 2s;
    animation-fill-mode: forwards;
}
@keyframes srr{
    25% {color: aqua; opacity: 0.25;}
    50% {color: plum; opacity: 0.5;}
    75% {color: lime; opacity: 0.75;}
    100% {color: darkred; opacity: 0.2; left: 50%;}
}

#section_2 {margin-top: 20px;}
#section_2 ul {list-style: none; display: flex; flex-wrap: wrap;}
#section_2 ul a {text-decoration: none; color: chocolate;
    &:hover {color: black; border-bottom: 2px dotted; 
                padding-bottom: 4px;
    }
}
.list {text-align: center; margin-top: 50px; display: none;}
#section_2 ul li {
    width: 140px; height: 140px; border: 1px solid;
    background-image: url(산사진.jpg);
    background-size: cover;
    &:hover {
        background-color: lightblue;
        background-image: url();
        .list{display: block;}
    }
    
}

