/* 전체 영역 */
.header{display: flex;align-items: center;justify-content: space-between;width: 800px;background-color: rgb(151, 0, 0);}

/* 로고(이미지)영역 */
.header h1{width: 100px;height: 100px;border-radius: 50%;overflow: hidden;margin: 0;}
.header h1 a{display: block;}
.header h1 a img{display: block;width: 100px;height: 100px;}

/* a태그 전체에 hover 시 글자색,border추가 */
.header ul li a:hover{color: orange;border-bottom: 1px solid orange;}

/* 중앙 메뉴 영역*/
.menu{display: flex;padding: 0;width: 80%;}
.menu li a{color: #fff;}
.menu li a{padding: 5px 10px;font-size: 18px;}

/* 맨 오른쪽 로그인 영역 */
.login{display: flex;padding: 0;}
.login li a{color: gray;padding: 5px 10px;font-size: 13px;}

/*a{text-decoration: none;color:#000;}
ul{list-style: none;} */
